<!DOCTYPE html>
<html lang="en">
<head>
<title>Petronas Technical Test</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="jumbotron text-center">
		<h1>Petronas Technical Test</h1>
		<div class="alert alert-success">Created by Raziman Dom.</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>Search Repository</h3>

				<form action="/admin/repository/search/topic/{topic}">
					<div class="form-group">
						<label for="topic">Topic:</label> <input type="text"
							class="form-control" id="topic">
					</div>
					<div class="form-group">
						<label for="language">Language:</label> <input type="text"
							class="form-control" id="language">
					</div>
					<button type="submit" class="btn btn-success">Search</button>
				</form>

				<br>
				<p th:text="'Search Topic: ' + ${topic}" />
				<p th:text="'Search Language: ' + ${language}" />
				
				<h3>Example: </h3>
				
				<table>
					<tr>
						<form action="/admin/repository/search/topic/petronas">
							<button type="submit" class="btn btn-warning">Petronas</button>
						</form>
						<form action="/admin/repository/search/topic/shell">
							<button type="submit" class="btn btn-warning">Shell</button>
						</form>
						<form action="/admin/repository/search/topic/caltex">
							<button type="submit" class="btn btn-warning">Caltex</button>
						</form>
						<form action="/admin/repository/search/topic/esso">
							<button type="submit" class="btn btn-warning">ESSO</button>
						</form>
						<form action="/admin/repository/search/language/java">
							<button type="submit" class="btn btn-info">Java</button>
						</form>
						<form action="/admin/repository/search/language/python">
							<button type="submit" class="btn btn-info">Python</button>
						</form>
						<form action="/admin/repository/search/language/go">
							<button type="submit" class="btn btn-info">Go</button>
						</form>
						<form action="/admin/repository/search/language/typescript">
							<button type="submit" class="btn btn-info">TypeScript</button>
						</form>
						<form action="/admin/repository/search/language/html">
							<button type="submit" class="btn btn-info">HTML</button>
						</form>
						<form action="/admin/repository/search/language/c">
							<button type="submit" class="btn btn-info">C</button>
						</form>
						<form action="/admin/repository/search/language/php">
							<button type="submit" class="btn btn-info">PHP</button>
						</form>
					</tr>
				</table>

				<br>

			</div>

			<div class="col-sm-9">

				<table>
					<tr>
						<td>
							<form action="/admin/repository/search/language/java">
								<button type="submit" class="btn btn-info">Java</button>
							</form>
						</td>
						<td>
							<form action="/admin/repository/search/language/python">
								<button type="submit" class="btn btn-info">Python</button>
							</form>
						</td>
						<td>
							<form action="/admin/repository/search/language/go">
								<button type="submit" class="btn btn-info">Go</button>
							</form>
						</td>
						<td>
							<form action="/admin/repository/search/language/typescript">
								<button type="submit" class="btn btn-info">TypeScript</button>
							</form>
						</td>
						<td>
							<form action="/admin/repository/search/language/html">
								<button type="submit" class="btn btn-info">HTML</button>
							</form>
						</td>
						<td>
							<form action="/admin/repository/search/language/css">
								<button type="submit" class="btn btn-info">CSS</button>
							</form>
						</td>
						<td>
							<form action="/admin/repository/search/language/c">
								<button type="submit" class="btn btn-info">C</button>
							</form>
						</td>
						<td>
							<form action="/admin/repository/search/language/c#">
								<button type="submit" class="btn btn-info">C#</button>
							</form>
						</td>
						<td>
							<form action="/admin/repository/search/language/php">
								<button type="submit" class="btn btn-info">PHP</button>
							</form>
						</td>
					</tr>
				</table>


				<h3>
					<p th:text="'Records Found: ' + ${count}" />
				</h3>

				<div th:if="${not #lists.isEmpty(repoListContainer)}">
					<table class="table table-striped">
						<tr>
							<th>No</th>
							<th>Id</th>
							<th>Name</th>
							<th>Language</th>
							<!-- <th>repoDescription</th> -->
							<th>URL</th>
							<th>Owner Id</th>
						</tr>
						<tr th:each="count : ${repoListContainer}">
							<td th:text="${count.repoNo}"></td>
							<td th:text="${count.repoId}"></td>
							<td th:text="${count.repoName}"></td>
							<td th:text="${count.repoLanguage}"></td>
							<!-- <td th:text="${count.repoDescription}"></td> -->
							<!-- <td th:text="${count.repoURL}"></td> -->
							<td><a th:href="${count.repoURL}">View Repository</a></td>
							<td th:text="${count.repoOwnerId}"></td>
						</tr>
					</table>

					<form action="/admin/repository/file/report.txt">
						<button type="submit" class="btn btn-success">Download
							Records</button>
					</form>

					<p>Summary:</p>

					<table class="table table-striped">
						<tr>
							<th>Attribute</th>
							<th>Value</th>
							<th>Repository Name</th>
							</td>
						</tr>
						<tr>
							<td>Top Score</td>
							<td th:text="${topScore}"></td>
							<td th:text="${topScoreRepoName}"></td>
						</tr>
						<tr>
							<td>Top Watcher</td>
							<td th:text="${topWatcherCount}"></td>
							<td th:text="${topWatcherCountRepoName}"></td>
						</tr>
						<tr>
							<td>Latest Created Date</td>
							<td th:text="${latestCreatedDate}" /></td>
							<td th:text="${latestCreatedDateRepoName}" /></td>
						</tr>
						<tr>
							<td>Latest Updated Date</td>
							<td th:text="${latestUpdatedDate}" /></td>
							<td th:text="${latestUpdatedDateRepoName}" /></td>
						</tr>
						<tr>
							<td>Latest Pushed Date</td>
							<td th:text="${latestPushedDate}" /></td>
							<td th:text="${latestPushedDateRepoName}" /></td>
						</tr>
					</table>
					<br>

				</div>

				<div class="col-sm-12"></div>

			</div>
		</div>

		<!-- <div class="container">
  <div class="row">
			<div class="col-sm-12">
				<h3>
					Report: 
				</h3>
				
				<p th:text="'Total Records : ' + ${count}" />
				<p th:text="'Total Records : ' + ${count}" />
				<p th:text="'Total Records : ' + ${count}" />
				<p th:text="'Total Records : ' + ${count}" />


			</div>
		</div>
</div> -->
</body>
</html>
