<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Petronas Technical Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body {
    font: Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Petronas</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/repository">Browse</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/repository/doc">API Documentation</a></li>
        <li><a href="https://github.com/razimandom/githubRepository">Source Code</a></li>
        <li><a href="http://razimandom.com/">My Portfolio</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>Search Repository</h3>

 				<form action="#" th:action="@{/repository}" th:object="${gitForm}" method="post">
					<div class="form-group">
						<label for="topic">Topic:</label> <input type="text" th:field="*{topic}" class="form-control">
					</div>
					<div class="form-group">
						<label for="language">Language:</label> <input type="text" th:field="*{language}" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Search</button>
				</form>
				<br>
				<div class="alert alert-success">
				Search Topic : <span th:text="${gitForm.topic != null} ? ${gitForm.topic} : '' " /><br>
				Search Language : <span th:text="${gitForm.language != null} ? ${gitForm.language} : '' " />
				</div>

<!-- 				<p>Sample Topic: </p>
				<table>
					<tr>
						<form action="/repository/search/topic/petronas">
							<button type="submit" class="btn btn-warning">Petronas</button>
						</form>
						<form action="/repository/search/topic/shell">
							<button type="submit" class="btn btn-warning">Shell</button>
						</form>
						<form action="/repository/search/topic/caltex">
							<button type="submit" class="btn btn-warning">Caltex</button>
						</form>
						<form action="/repository/search/topic/esso">
							<button type="submit" class="btn btn-warning">ESSO</button>
						</form>
						<form action="/repository/search/topic/google">
							<button type="submit" class="btn btn-warning">Google</button>
						</form>
						<form action="/repository/search/topic/interview">
							<button type="submit" class="btn btn-warning">Interview</button>
						</form>
					</tr>
				</table>
				<br>
				<p>Sample Language: </p>
				<table>
					<tr>
						<form action="/repository/search/language/java">
							<button type="submit" class="btn btn-info">Java</button>
						</form>
						<form action="/repository/search/language/python">
							<button type="submit" class="btn btn-info">Python</button>
						</form>
						<form action="/repository/search/language/go">
							<button type="submit" class="btn btn-info">Go</button>
						</form>
						<form action="/repository/search/language/typescript">
							<button type="submit" class="btn btn-info">TypeScript</button>
						</form>
						<form action="/repository/search/language/html">
							<button type="submit" class="btn btn-info">HTML</button>
						</form>
						<form action="/repository/search/language/c">
							<button type="submit" class="btn btn-info">C</button>
						</form>
						<form action="/repository/search/language/php">
							<button type="submit" class="btn btn-info">PHP</button>
						</form>
					</tr>
				</table> -->

			</div>

			<div class="col-sm-9">

				<h3>
					<p>Records Found : <span th:text="${count != null} ? ${count} : '' " /></p>
				</h3>
				
				<p><span th:text="${count == null} ? 'Search repository by using Search Repository section' : '' " /></p>
				
					<div th:if="${not #lists.isEmpty(repoListContainer)}">
					<table class="table">
						<tr>

							<th>Id</th>
							<th>Name</th>
							<th>Language</th>
							<!-- <th>repoDescription</th> -->
							<th>URL</th>
							<th>Owner Id</th>
						</tr>
						<tr th:each="count : ${repoListContainer}">
							<td th:text="${count.repoId}"></td>
							<td th:text="${count.repoName}"></td>
							<td th:text="${count.repoLanguage}"></td>
							<!-- <td th:text="${count.repoDescription}"></td> -->
							<!-- <td th:text="${count.repoURL}"></td> -->
							<td><a th:href="${count.repoURL}">View Repository</a></td>
							<td th:text="${count.repoOwnerId}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Created for demonstration purpose only</a></p> 
</footer>

</body>
</html>
