<!DOCTYPE html>
<html lang="en">
<head>
  <title>Petronas Technical Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Petronas Technical Test</h1>
  <div class="alert alert-success">Created by Raziman Dom.</div>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Task 1</h3>
      <p>Create github browse page</p>
      <button type="button" onclick="location.href='/repository'" class="btn btn-success">Click Here</button>
    </div>
    <div class="col-sm-4">
      <h3>Task 2</h3>
      <p>Create admin page for report</p>
      <button type="button" onclick="location.href='/admin'" class="btn btn-success">Click Here</button>
    </div>
    <div class="col-sm-4">
      <h3>Project Details</h3>
	  <div class="btn-group">
	  <p>Information about this project</p>
	    <button type="button" class="btn btn-success">View in Github</button>
	    <button type="button" class="btn btn-success">View Readme</button>
	  </div>   
    </div>
  </div>
</div>

</body>
</html>
